[Desktop Entry]
Version=1.0
Name=QtVsPlayer media player
GenericName=Video player with motions display
Comment=Read Hikvision local videos
Exec=/usr/bin/QtVsPlayer %U
TryExec=/usr/bin/QtVsPlayer
Icon=QtVsPlayer
Terminal=false
Type=Application
Categories=AudioVideo;Player;Qt;
MimeType=application/x-extension-mp4;inode/directory;
Keywords=Player;Video;HikVision;Motion;
X-Desktop-File-Install-Version=0.26
Path=/usr/bin
Comment[fr_FR]=Lit les videos HikVision
Name[fr_FR]=Lecteur QtVsPlayer
GenericName[fr_FR]=Lecteur video avec affichage des evenement
