Source: qtvsplayer
Section: video
Priority: optional
Maintainer: Eric Petit <surfzoid@gmail.com>
Build-Depends: dh-make,
               debhelper-compat (= 13),
               qtbase5-dev (>= 5.6),
               qt5-qmake,
               qtchooser,
               qtbase5-dev-tools,
               libopenal-dev
Standards-Version: 1.0.45
Homepage: https://github.com/surfzoid/QtVsPlayer
#Vcs-Browser: https://salsa.debian.org/debian/qtvsplayer
#Vcs-Git: https://salsa.debian.org/debian/qtvsplayer.git
Rules-Requires-Root: no

Package: qtvsplayer
Architecture: any
Depends: ${shlibs:Depends},
               ${misc:Depends},
               libqt5gui5,
               libqt5widgets5,
               libqt5core5a
Description:QtVsPlayer for Hikvision.
 Read local video files of Hikvision devices and display blue, green and red vectors. This is the end of an full network backup solution in combination with HikNetExtractor.

