#!/usr/bin/make -f
export QT_SELECT := qt5
HOST_ARCH=$(shell uname -m)
VERS=$(shell grep "Version:" QtVsPlayermga8wally.spec)
REL=$(shell grep '%global Rel' QtVsPlayermga8wally.spec)
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure -- PREFIX=usr/share
VERSION=$(shell tail -c 2 <<<$(VERS))
RELEASE=$(shell tail -c 2 <<<"$(REL)")
#	sed -i 's/\(VERSION = \).*/\1         $version/' QtVsPlayer.pro
	sed -i 's/\(RELEASE = \).*/\1         $(RELEASE)/' QtVsPlayer.pro
 
#		tar -xf ./lib/$(HOST_ARCH).tar.xz
#		mkdir -p usr/lib64/QtVsPlayer
#		cp $(HOST_ARCH)/*  usr/lib64/QtVsPlayer
#		mv $(HOST_ARCH)/* ./lib/$(HOST_ARCH)/
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	dh_auto_install --destdir=usr/share

override_dh_shlibdeps:
	dh_shlibdeps -XlibSuperRender -Xlibcrypto.so.1.1 -Xlibcrypto.so -Xlibssl.so.1.1 -Xlibssl.so
