#!/usr/bin/make -f
export QT_SELECT := qt5
export DH_VERBOSE=1
# This is the debhelper compatability version to use.

#export DH_COMPAT=3
TR_DIR=usr/share/QtVsPlayer/translations/
HOST_ARCH=$(shell uname -m)

configure:
	#dh_auto_configure -- $(CONFIGURE_EXTRA_FLAGS)
	qmake QtVsPlayer.pro

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:  configure
	dh_testdir
	lrelease QtVsPlayer_fr_FR.ts
	tar -xf ./lib/$(HOST_ARCH).tar.xz
	mv $(HOST_ARCH)/*.so ./lib/$(HOST_ARCH)/
	$(MAKE)

install: build
	mkdir -p $(TR_DIR)
	cp QtVsPlayer_fr_FR.qm $(TR_DIR)
	#$(MAKE) INSTALL_ROOT=usr/share install
	dh_auto_install --destdir=usr/share
	dh_installdirs

binary: build install
	 dh_testdir
	 dh_testroot
	 dh_installmenu
	 dh_link
	 dh_strip
	 dh_compress
	 dh_fixperms
	 dh_installdeb
	 dh_shlibdeps
	 dh_gencontrol
	 dh_md5sums
	 dh_builddeb

#shlibdeps:dh_shlibdeps -l$(shell pwd)/lib/$(HOST_ARCH)
